<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ambiente Virtual de Aprendizagem</title>
  </head>
  <body>
    <h1>Ajuda</h1>
    <p>
      <center>
      	<img id="animar" src="/assets/animacoes/help/help1.png" width="1100px"/>
      	<img id="animar" src="/assets/animacoes/help/help2.png" width="1100px"/>

      </center>
    
    </p>
  </body>
</html>